.dropdown-cont{
    background-color: #ffffff;
    position: absolute;
    left: 8px;
    top: 100%;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    display: none;
}
.show-dropdown{
    display: block;
}
.dropdown-tab{
    padding: 7px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-tab:hover{
    background-color: #e8ebee;
}
.left-side{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.tab-title{
    margin-left: 10px;
    color: #202104;
    font-size: 12px;
}
.image-color{
    color:#202104;
    font-size: 20px;
}
.img-ele-box{
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}